<div class="post-name">
<%= link_to "#{post.user.username}さん", user_path(post.user_id) %>の投稿
</div>
<div class="post-index">
  <div class="index-head">
   <div class="index-head-left">
      <div class="index-category">
      カテゴリー：
        <%= post.category.name %>
      </div>
      <div class="index-genre">
      ジャンル：
        <%= post.genre.name %>
      </div>
   </div>
    <div class="more">
        <ul class="more_list">
          <li>
            <%= link_to '詳細', post_path(post.id), method: :get %>
          </li>
        </ul>
      </div>
  </div>    
     <div class="index-title">タイトル<br>
       <%= post.title %>
     </div>
</div>
