<div class="post-index">
  <div class="index-head">
   <div class="index-head-left">
      <div class="index-category">
      カテゴリー：
        <%= post.category.name %>
      </div>
      <div class="index-genre">
      ジャンル：
        <%= post.genre.name %>
      </div>
   </div>
    <div class="more">
        <ul class="more_list">
          <li>
            <%= link_to '詳細', post_path(post.id), method: :get %>
          </li>
            <% if user_signed_in? && current_user.id == post.user_id %>
          <li>
            <%= link_to '編集', edit_post_path(post.id) %>
          </li>
          <li>
            <%= link_to '削除', "#" %>
          </li>
          <% end %>
        </ul>
      </div>
  </div>    
     <div class="index-title">
       <%= post.title %>
     </div>
</div>
