<main class="main">
  <div class="inner">
    <div class="post__wrapper">
      <div class="show-head">
          <div class="show-category">
          カテゴリー：
            <%= @post.category.name %>
          </div>
          <div class="show-genre">
          ジャンル：
            <%= @post.genre.name %>
          </div>
      </div>
      <%= link_to "by #{@post.user.username}", user_path(@post.user_id), class: :post__user %>
      <% if user_signed_in? && current_user.id == @post.user_id %>
        <div class="post__manage">
          <%= link_to "編集する", edit_post_path(@post.id), class: :post__btn %>
          <%= link_to "削除する", post_path(@post.id),method: :delete, class: :post__btn %>
        </div>
      <% end %>  
      <div class="post__body">
        <div class="post__detail">
          <p class="detail__title">タイトル</p>
          <div class="title_text">
            <%= @post.title %>
          </div>
        </div>
        <div class="post__detail">
          <p class="detail__title">内容</p>
          <div class="detail__message">
            <%= @post.content %>
          </div>
        </div>
        <div class="post__detail">
          <p class="detail__title">動画</p>
          <% if @post.video.attached? %>
           <div class="hover-video">
           <video src="<%= rails_blob_path(@post.video) %>" type="video/mp4" controls></video>
           </div>
          <% end %>
        </div>  
      </div>
        <div class="comment_head">
          <% if user_signed_in? %>
            <%= form_with(model: [@post, @comment], local: true) do |form| %>
              <%= form.text_area :text, size: "40x2", placeholder: "コメントする", rows: "2" %>
              <%= form.submit "送信", class: :send__btn %>
            <% end %>
          <% else %>
            <strong><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p></strong>
          <% end %>
          <div class="comments">
            <h4>＜コメント一覧＞</h4>
            <% @comments.each do |comment| %>
             <div class="comment">
              <div class="comment_name_text">
                <strong><%= link_to comment.user.username, "/users/#{comment.user_id}" %>：</strong>
                <%= comment.text %>
              </div>
              <% if user_signed_in? && current_user.id == comment.user_id %>
               <div class="comment_delete">
                <%=link_to "削除", post_comments_path(comment.post.id), method: :delete %>
               </div>
              <% end %>
             </div> 
            <% end %>
          </div>
        </div>
    </div>
  </div>
</main>